<div class="p-3 bg-dark text-white text-center">
  <h1>Loja Virtual</h1>
  <p>Teste Cacau Show</p>
</div>

<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <a class="navbar-brand">
        <img src="favicon.ico" width="30" height="30">
      </a>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <button (click)="logout()" class="nav-link">Sair</button>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Produtos</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>